<div class="row bucket-row">
  <h1 class='pets-header'>PETS</h1>
  {{#each pets}}
    <div class="col-md-6">
      <div class=" view view-first ">
        <div class="image-container "><img src=" {{this.media}} "></div>
        <div class="mask">
          <div class="pet-name">
            <h3>{{this.name.$t}}</h3>
            <button type="button" id="addPetButton" data-name="{{this.name.$t}}" data-description="{{this.description.$t}}" class="pet-button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
            <span class="glyphicon glyphicon-remove" id="deletePetButton" data-id="{{id}}" aria-hidden="true"></span>
            <div class="pet-description">
              <p>{{this.description.$t}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
