<div class="row bucket-row">
  <h2 class="pets-header">Available Dogs</h2>
  {{#each pets}}
    <div class="col-md-6">
      <div class=" view view-first">
        <div class="image-container"><img src=" {{this.media.photos.photo.0.$t}} " class="pet-image"></div>
        <div class="mask">
          <div class="pet-name">
            <h3>{{this.name.$t}}</h3>
            <button type="button" id="addPetButton" data-name="{{this.name.$t}}" data-description="{{this.description.$t}}" class="pet-button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
            <div class="pet-description">
              <p>{{this.description.$t}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
